![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [7]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

# Begin coding here ...
airbnb_prices = pd.read_csv("data/airbnb_price.csv")
airbnb_rooms = pd.read_excel("data/airbnb_room_type.xlsx")
airbnb_reviews = pd.read_table("data/airbnb_last_review.tsv")

In [11]:
airbnb_prices.head()
airbnb_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [12]:
airbnb_reviews.head()
airbnb_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [13]:
airbnb_rooms.head()
airbnb_rooms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [16]:
price_and_reviews_join = pd.merge(airbnb_prices,airbnb_reviews,on="listing_id")
price_and_reviews_join
unified_data = pd.merge(price_and_reviews_join,airbnb_rooms,on="listing_id")
# this is the dataframe with all joined
unified_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   host_name    25201 non-null  object
 4   last_review  25209 non-null  object
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [23]:
# changing datetime format of last_review
unified_data["last_review"]=pd.to_datetime(unified_data["last_review"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   host_name    25201 non-null  object
 4   last_review  25209 non-null  datetime64[ns]
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.3+ MB

In [50]:
recent_review = np.max(unified_data["last_review"])
recent_review

Timestamp('2019-07-09 00:00:00')

In [27]:
oldest_review = np.min(unified_data["last_review"])
oldest_review

Timestamp('2019-01-01 00:00:00')

In [29]:
unified_data

,listing_id,price,nbhood_full,host_name,last_review,description,room_type
0,2595,225 dollars,"Manhattan, Midtown",Jennifer,2019-05-21,Skylit Midtown Castle,Entire home/apt
1,3831,89 dollars,"Brooklyn, Clinton Hill",LisaRoxanne,2019-07-05,Cozy Entire Floor of Brownstone,Entire home/apt
2,5099,200 dollars,"Manhattan, Murray Hill",Chris,2019-06-22,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Shunichi,2019-06-24,Large Furnished Room Near B'way,private room
4,5238,150 dollars,"Manhattan, Chinatown",Ben,2019-06-09,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt
...,...,...,...,...,...,...,...
25204,36425863,129 dollars,"Manhattan, Upper East Side",Rusaa,2019-07-07,Lovely Privet Bedroom with Privet Restroom,PRIVATE ROOM
25205,36427429,45 dollars,"Queens, Flushing",Hâ€†Ai,2019-07-07,No.2 with queen size bed,PRIVATE ROOM
25206,36438336,235 dollars,"Staten Island, Great Kills",Ben,2019-07-07,Seas The Moment,Private room
25207,36442252,100 dollars,"Bronx, Mott Haven",Blaine,2019-07-07,1B-1B apartment near by Metro,Entire home/apt
25208,36455809,30 dollars,"Brooklyn, Bushwick",Christine,2019-07-08,"Cozy Private Room in Bushwick, Brooklyn",Private room

In [30]:
unified_data["room_type"] = unified_data["room_type"].str.lower()
unified_data["room_type"]

,listing_id,price,nbhood_full,host_name,last_review,description,room_type
0,2595,225 dollars,"Manhattan, Midtown",Jennifer,2019-05-21,Skylit Midtown Castle,entire home/apt
1,3831,89 dollars,"Brooklyn, Clinton Hill",LisaRoxanne,2019-07-05,Cozy Entire Floor of Brownstone,entire home/apt
2,5099,200 dollars,"Manhattan, Murray Hill",Chris,2019-06-22,Large Cozy 1 BR Apartment In Midtown East,entire home/apt
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Shunichi,2019-06-24,Large Furnished Room Near B'way,private room
4,5238,150 dollars,"Manhattan, Chinatown",Ben,2019-06-09,Cute & Cozy Lower East Side 1 bdrm,entire home/apt
...,...,...,...,...,...,...,...
25204,36425863,129 dollars,"Manhattan, Upper East Side",Rusaa,2019-07-07,Lovely Privet Bedroom with Privet Restroom,private room
25205,36427429,45 dollars,"Queens, Flushing",Hâ€†Ai,2019-07-07,No.2 with queen size bed,private room
25206,36438336,235 dollars,"Staten Island, Great Kills",Ben,2019-07-07,Seas The Moment,private room
25207,36442252,100 dollars,"Bronx, Mott Haven",Blaine,2019-07-07,1B-1B apartment near by Metro,entire home/apt
25208,36455809,30 dollars,"Brooklyn, Bushwick",Christine,2019-07-08,"Cozy Private Room in Bushwick, Brooklyn",private room

In [36]:
private_room_count = unified_data["room_type"].value_counts()[1]
private_room_count

11356

In [42]:
unified_data["price"] = (unified_data["price"].str.replace(" dollars","")).astype('int32')
unified_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  int32
 2   nbhood_full  25209 non-null  object
 3   host_name    25201 non-null  object
 4   last_review  25209 non-null  datetime64[ns]
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: datetime64[ns](1), int32(1), int64(1), object(4)
memory usage: 1.3+ MB

In [44]:
avg_listing_price = np.around(np.average(unified_data["price"]),2)
avg_listing_price

141.78

In [52]:
review_dates = pd.DataFrame(columns=["first_reviewed","last_reviewed","nb_private_rooms","avg_price"],
                          data={
                            "first_reviewed":[oldest_review],
                            "last_reviewed":[recent_review],
                            "nb_private_rooms":[private_room_count],
                            "avg_price":[avg_listing_price]
                          })
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78